@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css";

hr {
    margin: 0px 0 5px 0 !important;
}

.navbar {
    background-color: #BD4291;
}


/* AVATAR CSS */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}


/* JUMBOTRON BACKGROUND */
/* .jumbotron {
    background-image: url("../img/jumbotron-background.jpg");
    background-size: cover;
} */