 <!-- JUMBOTRON -->
<div class="container">
<div class="jumbotron">
    <h1>Mood:3 where to put our moods</h1>
    <p>Ừm! Chào bé, đây là trang web tiên của anh (có thể sử dụng được 🤣). Trước giờ anh toàn code rồi bỏ 
        dở thôi nên không có trang nào ra hổn cả. Chắc là bé chưa biết trang này để làm gì đúng hơm? Khi mà
        có những lời mình ngại nói với nhau trực tiếp trên Messgenger thì mình có thể post trên đây nhá. Trang
        web vẫn còn nhiều chỗ chưa ổn lắm nhưng anh sẽ fix dần dần nè! Iu bé :3
    </p>
</div>